<br />
<form method='get' action='/quizzes/<%= quiz.id %>/check'>
  <h2><%= quiz.question %></h2>
  <input type='text' value='<%= answer %>' name='answer' placeholder='Responda aquí...' />
  <input type='submit' value='Enviar' />
</form>
<br />
<p> <a href='/quizzes/<%= quiz.id %>/comments/new'><button>Nuevo Comentario</button></a></p>

<strong>Comentarios:<strong></p>
<ul>
<% for (var i in quiz.Comments) { %>
	<li> <%=quiz.Comments[i].text %> </li>
<% } %>
</ul>